@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .no-spinner {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

  .custom-scrollbar::-webkit-scrollbar-thumb {
    scrollbar-width: thin;
    background-color: #66B10B;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 50px;
  }
  

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-scrollbar-basketBuy::-webkit-scrollbar-thumb {
    scrollbar-width: thin;
    background-color: #66B10B;
    border-radius: 50px;
  }

  .custom-scrollbar-basketBuy::-webkit-scrollbar-track {
    background-color: #ADADAD/20;
    border-radius: 50px;
  }
  

  .custom-scrollbar-basketBuy::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
